*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.cnt-grey{
    background-color: #f5f8fa;

}

.container-grey{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    position: relative;

}

.left{
    height: 80px;
    padding: 20px 0;
    line-height: 30px;
    color: #33475B;
}

#line{
    border-left: solid #7c98b6 2px;
    padding-left: 10px;

}

.left i{
    color: #7c98b6;
}


.left p , i{
    display: inline-block;

    padding-right: 10px;

}

.right{
    position: absolute;
    top: 10px;
    right: 0;

}

#log{
    background-color: white;
    border: #ff7a59 solid 2px;
    color: #ff7a59;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#get{
    background-color: #ff7a59;
    border: #ff7a59 solid 2px;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.cnt-white{
    background-color: white;
}

.container-white{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;
}

.logo{
    height: 80px;
    padding: 30px 0;

}


.menu{
    position: absolute;
    top: 15px;
    right: 0;
    color: #33475B;
    font-weight: bold;


}

.menu ul li{
    display: inline-block;
    padding: 20px;

}

.menu ul li:after{
    content: '\f0d7';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px;
    color:black;
}

.cnt-blue{
    background-color: #425b76;;
}

.container-blue{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;

}

.slogan-1{
    box-sizing: border-box;
    height: 80px;

    color: white;
}

.slogan-1 p{
    width: 90%;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 0;
}

.btn button{
    position: absolute;
    top: 30px;
    right: 0;
    color: #425b76;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.cnt-pink{
    background-color: #fff1ee;
    background-image: url("//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg")
}

.container-pink{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}


.slogan-2{
    width: 40%;
}

.slogan-2 h2{
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 20px;

}

.slogan-2 button{
    background-color: #ff7a59;
    border: #ff7a59 solid 2px;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin: 10px 0 10px;
}

#small{
    font-size: 10px;
}


.cnt-lightgrey{
    background-color: #f5f8fa;
}

.container-lightgrey{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 1800px;
}

.slogan-3{
    text-align: center;

}

.slogan-3 img{
    height: 195px;
    margin-top: 100px;
}

.slogan-3 h3{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.slogan-3 p{

    padding: 0 40px 50px 40px;
    text-align: center;
    font-size: 1em;
    font-weight: lighter;

}

.block{
    background-color: white;
    height: 300px;
    box-sizing: border-box;

}

.block .card-1{
    width: 30%;
    float: left;
    text-align: center;
}

.card-1 img{
    height: 150px;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.card-1 button{
    display: block;
    margin-left: 30%;
    background-color: #ff7a59;
    border: #ff7a59 solid 2px;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;



}



.block .card-2{
    width: 70%;
    height: 300px;
    display: inline-block;



}

.card-2 h4,h5{
    text-align: inherit;
}

.card-2 ul li{
    display: inline;
    padding-right: 20px;
}

.card-2 ul li:before{
    content: '\f058';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;

    color: #ff7a59;
}

.card-2 h4{
    padding:40px 0 20px;
    font-size: 30px;
    font-style: bold;

}

.card-2 h5{
    padding: 20px 0 20px;
    font-size: 20px;

}

.block-2{
    box-sizing: border-box;
    max-width: 100%;
}

.block-2 .card{
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    background-color: white;
    padding: 15px;




}



.card img{
    height: 150px;
    width: 235px;
    margin: 40px 90px;

}

.card h3,h4{
    text-align: center;

}

.card p{
    padding: 20px;
}

.card ul li{
    padding-top: 20px;
    padding-right: 20px;
    list-style-type:none;

}

.card ul li:before{
    content: '\f058';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
    margin-left: 20px;

    color:#ff7a59;
}

.card button{
    display: block;
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #ff7a59;
    border: #ff7a59 solid 2px;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.cnt-water{
    background-color: green;
}

.container-water{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.cnt-whiteb{
    background-color: white;
}

.container-whiteb{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.cnt-greyb{
    background-color: grey;
}

.container-greyb{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}
