*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.cnt-grey{
    background-color: grey;
}

.container-grey{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;

}

.left p{
    display: inline-block;
}

.right{
    position: absolute;
    top: 0;
    right: 0;

}


.cnt-white{
    background-color: white;
}

.container-white{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;

}

.menu ul li{
    display: inline-block;
    padding: 5px;
}

.cnt-blue{
    background-color: blue;
}

.container-blue{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;

}

.slogan-1 p{
    width: 80%;
}

.btn button{
    position: absolute;
    top: 0;
    right: 0;

}

.cnt-pink{
    background-color: pink;
}

.container-pink{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.slogan-2{
    width: 50%;
}



.cnt-lightgrey{
    background-color: lightgrey;
}

.container-lightgrey{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 1200px;
}

.slogan-3{
    text-align: center;

}

.block{
    background-color: white;
    height: 300px;

}

.block .card-1{
    width: 30%;
    height: 300px;

    display: inline-block;

}

.block .card-2{
    width: 69%;
    height: 300px;
    display: inline-block;



}

.card-2 ul li{
    display: inline;
}

.block-2 .card{
    display: inline-block;
    width: 32%;


    background-color: white;
    margin-right: 10px;
    margin-top: 10px;

}

.card img{
    height: 200px;
}

.cnt-water{
    background-color: green;
}

.container-water{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.cnt-whiteb{
    background-color: white;
}

.container-whiteb{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.cnt-greyb{
    background-color: grey;
}

.container-greyb{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}
